@page
@model TourneyPlaner.Pages.Tournament.TournamentModel
@{
}
<!--Page for handling tournaments in database-->
<br />
    <h2>List of Tournaments</h2>
    <a class='btn btn-primary btn-sm' href='/Tournament/CreateTournament'>New Tournament</a>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>GameTypeID</th>
                <th>TournamentTypeID</th>
                <th>UserID</th>
            </tr>
        </thead>
        <tbody>
        <!--Retrieves all the tournament objects from list-->
        @foreach (var tournament in Model.tournaments)
            {
                <tr>
                    <td>@tournament.tournamentID</td>
                    <td>@tournament.tournamentName</td>
                    <td>@tournament.startDate</td>
                    <td>@tournament.endDate</td>
                    <td>@tournament.gameTypeID</td>
                    <td>@tournament.tournementTypeID</td>
                    <td>@tournament.userID</td>
                    <td>
                        <a class="btn btn-primary btn-sm" href="/Tournament/EditTournament?id=@tournament.tournamentID">Edit</a>
                        <a class="btn btn-danger btn-sm" href="/Tournament/EditTournament?id=@tournament.tournamentID">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>